mcu:
  core:
  - {{core}}
  name:
  - {{device}}
  vendor:
  - {{vendor}}
tool_specific:
  uvision:
    TargetOption:
      Cpu:
      - {{cpu_string}}
      Device:
      - {{device}}
      DeviceId:
      - ''
      SFDFile:
      - {{debug}}
      Vendor:
      - {{vendor}}
  uvision5:
    TargetOption:
      Cpu:
      - {{cpu_string}}
      Device:
      - {{device}}
      DeviceId:
      - ''
      PackID:
      - {{pack_file}}
      PackURL:
      - http://www.keil.com/pack/
      RegisterFile:
      - {{compile['header']}}
      SFDFile:
      - {{debug}}
      Vendor:
      - {{vendor}}
